[2020-04-18 16:30] lorenzochaudessolle opened #1 "Dynamic add pop-up"
We could add dynamics MarkerWithPopUp with StatefulMapController  ?

[2020-04-21 08:51] rorystephenson commented on #1
I've done a big rewrite which makes the popups a lot more flexible now. Check out the [example](https://github.com/rorystephenson/flutter_map_marker_popup/blob/master/example/lib/main.dart) for some ideas on how to use it and let me know if you need more help!

[2020-04-21 08:51] #1 closed

[2020-04-22 10:23] lorenzochaudessolle commented on #1
Your new rewrite is a very great job, i can add easily dynamics markers with pop up !

If you want some upgrade ideas, it will be very nice to have a system to pass data (not only marker) in the pop-up

[2020-04-22 12:57] rorystephenson opened #3 "Create example for passing data to the popup by extending Marker"
It's possible to pass whatever data you want to the Popup by extending Marker and adding the data to the embedded popup. It would be nice to create an example for this.

[2020-04-22 13:00] rorystephenson commented on #1
Thanks I'm really glad it works for you :).

For passing extra data that's already possible by creating a custom Marker class that extends `Marker` and adding whatever data you want to it. Then in the `popupBuilder` you can get the data off the Marker.

I've added an issue (#3) to add an example of this but in the mean time let me know if that's not clear!

[2020-04-22 17:47] rorystephenson opened #4 "Popup keeps state when tapping another marker"
Issue originally reported here: https://github.com/johnpryan/flutter_map/issues/590#issuecomment-617923323 :

[2020-04-23 09:25] rorystephenson commented on #4
This is now fixed in 0.1.4 🙂. I also added `showPopupForMarker(Marker)` if you don't want the marker to be toggled by the PopupController.

Here's the relevant change that fixed the bug if anyone is interested: https://github.com/rorystephenson/flutter_map_marker_popup/commit/ed3ce2cd73a9169a08770b4c3c8a7ae764e27499#diff-942282e93603965e1bade94e67f446a1R80-R82

The key had to be changed when the s

[2020-04-23 09:25] #4 closed

[2020-04-23 19:21] kekeu commented on #4
It was very good.

[2020-05-02 07:38] flogaribal commented on #3
Hi @rorystephenson,

Thanks for your plugin and for your short explanation about how to give extra data to a Marker, I did not think about it before reading it here!
I created a small example below to illustrate your points, if it does not match with what you wanted to know, feel free to tell me and I will remove/edit it.

[code]

[2020-05-10 15:15] rorystephenson commented on #3
Finally got around to adding this. Thanks a lot @flogaribal !

https://github.com/rorystephenson/flutter_map_marker_popup/commit/697c38df46916e2c77d74db54f3b7a94fc76f909

[2020-05-10 15:15] #3 closed

[2020-05-11 06:40] rorystephenson commented on #1
Just an update that there is now an example for this in the examples folder.

[2020-06-03 08:58] Swepilot opened #5 "App crashes with Marker Popups displayed"
I'm running a flutter_map 0.9.0 with` CachedNetworkTileProvider `displaying a Mapbox map. Zooming and panning around with just the map displayed works fine. However, then displaying about 50 marker_popup markers my app crashes at completely random times, but always when panning the map. The app slows down notably and then crashes. There is no error thrown and debug only prints

Exited (sigterm)

I

[2020-06-03 10:23] Swepilot commented on #5
Please disregard this issue. I finally found the Xcode Time Profiler (great tool) and there could see a `Timer` that was the problem....

[2020-06-03 10:23] #5 closed

[2020-06-07 00:54] 244226077 opened #6 "How to add a pin below the Popup Panel anchored at it's marker just like google earth?"
How to add a pin below the Popup Panel anchored at it's marker just like google earth? This will help if there is a mass of markers because I can kown exactly which marker the Popup Pane is linked.

[2020-06-08 15:36] rorystephenson commented on #6
Hi @244226077, can you provide an image that shows what you mean?

[2020-06-08 16:59] 244226077 commented on #6
@rorystephenson
![aaaa](https://user-images.githubusercontent.com/33371469/84058869-629c2e00-a9ec-11ea-9490-108b9d24bffe.jpg)

[2020-06-18 15:13] Dereumaux-Adrien opened #7 "Error thrown by stack as PopupMarkerLayerOptions is null"
Both examples run smoothly in my flutter_map_marker_popup clone.

But when I try a simpler version in my own project, I get the following stack:

[code]

Here you can find my dart code:

[code]

If I use the simple MarkerLayerOptions instead of the PopupMarkerLayerOptions, everything runs smoothly.

My pubspec.yaml:

[code]

[2020-06-18 15:53] Dereumaux-Adrien commented on #6
Hi @244226077 You could put your custom in a column with a triangle that you can create following this SE answer: https://stackoverflow.com/a/56945726/4791411

[2020-06-19 06:57] rorystephenson commented on #6
Agreed with @Dereumaux-Adrien that this can be implemented by the widget you decide to use for the popup!

It would be nice to have an example for this but I don't have the time right now.

Closing but feel free to ask again if you don't manage to get this working!

[2020-06-19 06:57] #6 closed

[2020-06-19 07:02] rorystephenson commented on #7
Hi @Dereumaux-Adrien !

Looks like you're missing the plugin declaration in the MapOptions, this:

[code]

should be:

[code]

Let me know how that goes.

[2020-06-19 17:07] Dereumaux-Adrien commented on #7
Indeed, that was exactly this.

Works perfectly now, thank you

[2020-06-19 17:07] #7 closed

[2020-07-27 22:46] olliegardner opened #8 ""Floating" Popup Widget"
First of all, thanks for developing this plugin - it's great.

I'm just wondering if it is possible to have the popup widget "float" above the map instead of being embedded into the map layer? The behaviour would be the same as a typical floating action button.

[2020-07-28 13:03] rorystephenson commented on #8
Hi @olliegardner .

Thanks a lot!

It depends exactly how you want it to work. If you just want say a popup with a fixed position relative to the map widget (bottom center of the map for example) then this functionality could be added to this plugin, probably without too much work.

If you're looking for something that behaves more like an `Overlay` widget (can be outside the bounds of the map and

[2020-07-28 14:56] olliegardner commented on #8
Your 1st suggestion is exactly what I'm looking for! A popup which could appear at the bottom of the screen which has a fixed position would be great please

[2020-08-28 06:41] rorystephenson commented on #8
@olliegardner I don't have time to work on this yet (although I would really like to!). If you want to try yourself I can give you some suggestions, otherwise I hope to get to this eventually.

[2020-09-09 10:46] Swepilot opened #9 "popupBuilder called on map move"
If a popup is open, every map move will cause the popupBuilder to be called. Is there a way to prevent this?

In my case, when the popup is build I get data from a local database (which can be a lot) so then if I move the map with the popup open, the database gets called and the dataset processed again, over and over. This slows down performance.

[2020-09-09 10:57] rorystephenson commented on #9
@Swepilot Hmm that's probably expected due to the way flutter works. Moving a widget will always cause it to rebuild I think. If you share your popupBuilder implementation maybe I can suggest a way to avoid having the data reloaded every rebuild?

[2020-09-09 11:21] Swepilot commented on #9
Of course, silly me... Blaming a few months of no coding. I changed the widget into a StatefulWidget and moved the data fetching code into initState. Thanks for the quick feedback though!

[2020-09-09 11:21] #9 closed

[2020-09-29 14:21] leonardoayres opened #10 "Popup is not shown"
Hello,

I've just found your plugin and gave a try, but, unfortunately, the popup is not displayed.

After trying with Stateless widgets and "complex" layouts, I've reduced it to:

[code]
And even that way, when I tap any marker displayed in the map, nothing happens.

Do you have any insights?

[2020-09-29 15:19] #10 closed

[2020-12-25 17:02] berkayoruc opened #11 "min/max zoom"
Is there any implementation of min/max zoom for PopupMarkerLayerOptions? For massive data, this option should be good.

I want to use popup and cluster in same time.

[2020-12-25 19:30] berkayoruc commented on #11
I don't know is it true way, but I coded something and work in your package;

Firstly, added minZoom option to `popup_marker_layer_options.dart`
[code]

After that, I added if condition in widget build to `popup_marker_layer.dart`
[code]

[2020-12-29 19:08] SteveLamont opened #12 "flutter_map_marker_popup does not "play well" with flutter_map_marker_cluster"
First of all, the obligatory compliments and thanks for developing this nifty plugin.

I'd like to use marker clustering as well as the marker popup plugin.  However, they don't seem to interact together.

When I attempt to use both, the clustering seems to get overridden (or, perhaps, overwritten, it's difficult to tell).

[2020-12-29 21:33] SteveLamont commented on #12
Following up on this -- I managed to work around this issue by just extending the Marker object, so no biggie if it doesn't get fixed.

In any event, it turns out that for my application, popping a Drawer was a better solution anyhow, since I have a lot of information that needs to be displayed.

[2020-12-29 21:33] #12 closed

[2021-01-13 16:47] rorystephenson commented on #12
Thanks for updating and resolving this issue!

I just wanted to mention that this plugin is also integrated into the `flutter_map_marker_clustering` plugin. If you look in the config on that repo you will see options to show popups which actually use this plugin. In fact I use it this way in my personal project!

Glad to hear you found a good solution for your project!

[2021-01-30 08:43] Swepilot commented on #8
@olliegardner did you find/create a solution for this? I'm looking for that same...

[2021-01-30 08:48] Swepilot commented on #11
So with your solution @berkayoruc at a lower zoom one would see the layer with clustered markers and at higher than minZoom one would see the MarkerPopupLayer. I'm I understandomg this correct? That is a feature I would like to use too as my map can get thousands of markers displayed and that's not really working at the moment due to performance lagging issues...

[2021-02-18 10:26] rorystephenson commented on #11
Sorry for the slow response @berkayoruc and @Swepilot !

Have you tried this plugin: https://github.com/lpongetti/flutter_map_marker_cluster

I use it for clustering and I contributed to that plugin to integrate the popup functionality (it actually uses the code in this repository) so you can use both together.

Is that what you're looking for?

[2021-02-18 11:42] rorystephenson commented on #8
Hi @olliegardner and @Swepilot . I've just added this option. You can now choose to snap the popup position to the map itself rather than just the marker.

See the new PopupSnap options here: https://github.com/rorystephenson/flutter_map_marker_popup/blob/c17c8d5a0b7a2ea7efd892514632ff1b7b5b5626/lib/src/popup_snap.dart#L17-L21

So for example to have the dialog show at the bottom of the map you ca

[2021-02-18 11:57] Swepilot commented on #8
That's an amazing improvement. I will get on to testing that very shortly 👍

[2021-03-10 08:59] zozeei opened #13 "flutter_map_marker_popup "does not show popup" when use with flutter_map_marker_cluster"

[2021-03-10 21:48] Hosam11 opened #14 "Popup doesn't show when markers got from provider"
[code]
here PopupMarkerLayerOptions get it's marker from provider the problem is the popupBuilder didn't call after the markers updated, therefore the popup didn't show, it's show only when I pop  map screen then push to it again

[2021-03-12 09:41] rorystephenson commented on #14
@Hosam11 You probably need to call `setState((){ markers = newMarkers })` or have the map inside some other builder function like StreamBuilder or FutureBuilder (I use Bloc so the map is inside a BlocBuilder).

If you want to share a full example I can give a more specific suggestion.

[2021-03-12 09:42] rorystephenson commented on #13
Hi @zozeei. I use them together and it seems to work fine in my project. Can you share an example which demonstrates the issue?

[2021-03-12 09:42] rorystephenson commented on #11
I'm closing this now but please feel free to comment and @ tag me if my answer is not satisfactory.

[2021-03-12 09:42] #11 closed

[2021-03-12 09:43] rorystephenson commented on #8
@Swepilot and @olliegardner I'm going to close this now on the assumption that it's working. Please open a new issue if there are any problems!

[2021-03-12 09:43] #8 closed

[2021-03-14 23:13] Hosam11 commented on #14
check this gif

![popup issue](https://user-images.githubusercontent.com/18370055/111087642-6c2e6580-852b-11eb-8b13-05a93072b092.gif)

first screen is **MapEntitiesScreen** that hold **MyMap widget** and **MyMap** widget take markers in order
to display it on map

the flow when user click on location button the location added to list in **MapProvider**  called **_marker**
that we send it to my map

[2021-03-15 03:25] zozeei commented on #13
'''
  MarkerClusterLayerOptions(
                  maxClusterRadius: 120,
                  size: Size(40, 40),
                  anchor: AnchorPos.align(AnchorAlign.center),
                  fitBoundsOptions: FitBoundsOptions(
                    padding: EdgeInsets.all(40),
                  ),
                  // markers: _isloading ? markers : [],

                  markers: [

[2021-03-15 09:17] rorystephenson commented on #13
@zozeei The clustering plugin does not show popups by default, you need to set the `popupOptions`, see the example: https://github.com/lpongetti/flutter_map_marker_cluster/blob/02e6019dd0d60f0c7c92ceb7358104e9893b3df9/example/lib/main.dart#L142-L155

[2021-03-15 09:17] #13 closed

[2021-03-15 09:30] zozeei commented on #13
@rorystephenson  thank you very much

[2021-03-25 06:40] AYJF opened #15 "Null safety migration"
Hello, is Null safety migration on roadmap?
Thanks you

[2021-03-30 09:48] rorystephenson commented on #15
Hi @AYJF ! Yes it's definitely on the roadmap. I haven't started yet as I'm waiting for `flutter_map`'s null-safe release.

I haven't looked in to it but I presume it doesn't make much sense until that's done?

[2021-04-09 21:36] Dereumaux-Adrien commented on #6
I found out how to later, you add clippy_flutter and then this in a column after your container:
[code]

[2021-04-12 07:08] rorystephenson commented on #6
Great @Dereumaux-Adrien 👏 !

[2021-05-01 21:50] 1075dn opened #18 "Animate opacity?"
Hi,

Great plugin! Is there a way to fade the popups in and out?

Thanks so much!

[2021-05-05 15:59] rorystephenson commented on #18
Thanks @1075dn !

Hmm so fading in should be easily possible, here's a quick example with a custom Popup:

[code]

Fading out is a little bit trickier because there is not a straightforward place to trigger the fade (it can't be done in onDispose).

Animations when the Widget is getting disposed probably requires a change to this plugin 🤔 .

[2021-05-05 16:52] 1075dn commented on #18
@rorystephenson Thanks so much! Fading out was actually the part I was having trouble with. What kind of change do you mean? Maybe I can try to help...

[2021-05-12 17:46] rorystephenson commented on #18
Hi @1075dn !

So I started looking at some options for how to add this and in general animating the removal of a widget is kind of tricky as you have to first run the removal animation and, after the animation has finished, actually remove the widget from the widget tree. I didn't want to make the user wait for the popup removal animation before opening a new popup (even if it should be quick) whi

[2021-05-12 17:48] rorystephenson commented on #14
@Hosam11 Sorry I've been busy lately and haven't given this a look. Have you had any luck figuring it out?

[2021-05-12 17:49] 1075dn commented on #18
Amazing, thanks! Keep it up, and keep us posted!

[2021-05-12 19:34] Hosam11 commented on #14
not a problem..I figure out that It's working only if I pass key to **MyMap** class like in line below
` key: UniqueKey(),
`
but the problem with that is there is error thrown with map controller when I try to move camera to selected position say

but I think that error related to flutter map package and your package working fine

[2021-05-12 21:40] Hosam11 commented on #14
finally after change **MyMap** to make it **StatefulWidget** without pass it a **key** everything is fine marker popup show now with every marker created and mapContrller.move not throw exception anymore

[2021-05-12 21:40] #14 closed

[2021-05-17 19:16] hpassos2b opened #19 "Problem when rotating the map"
![image](https://user-images.githubusercontent.com/83711686/118543636-e7c6b180-b72a-11eb-8139-f1a0c8fa44c0.png)

The PopUp rotates too, is there anything I can do? Or is it an issue? Thank you.

[2021-05-18 10:55] 1075dn commented on #18
@rorystephenson You are awesome! Thanks so much!

My popups have `BackdropFilter` widgets in them, but the blur filter only seems to work when the popup is not animating. Do you happen to know why? (Is this an issue for `AnimatedStack`?)
![recorded issue](https://user-images.githubusercontent.com/66363175/118639093-308c7200-b7e0-11eb-9a24-7c6c6fb83d5d.gif)

[2021-05-18 17:53] rorystephenson commented on #18
You noticed before I remembered to mention it here :).

Hmm so it may require you to change the blur mode, here are some related issues/PRs/comments I found:

 * https://github.com/flutter/flutter/issues/43750
 * https://github.com/flutter/flutter/issues/31706#issuecomment-522697161
 * https://github.com/flutter/flutter/pull/80129
 * https://github.com/flutter/flutter/issues/81322

[2021-05-19 20:27] 1075dn commented on #18
Thanks for looking into it! I guess we'll have to wait until the `BackdropFilter`'s `blendMode` property is released in the stable channel...

[2021-05-20 06:37] rorystephenson commented on #19
Hi @hpassos2b !

I've noticed this recently (I don't allow rotation in my app so it took me a while to notice). It needs some work in order to be supported properly. There is a WIP pull request but it's not quite working yet.

I was considering tackling it once flutter_map goes null safe and makes a new release since they have reworked the marker displaying code and I want to copy and adapt it in

[2021-05-21 19:24] hpassos2b commented on #19
Not allow rotation is a good work around for while, thank you.

[2021-05-23 08:27] rorystephenson commented on #18
I didn't realise it wasn't released yet but I'm glad a solution is on its way! I will close this for now as it seems like no changes will be needed in this package but if that's not the case feel free to re-open.

[2021-05-23 08:27] #18 closed

[2021-05-31 18:08] rorystephenson commented on #15
#21 is basically ready (and includes some new features/improvements!). I'm just waiting for flutter_map to publish a null safe version.

In the mean time you can use the branch.

[2021-06-07 17:45] rorystephenson commented on #19
Please try out the new version (1.0.0)!

If you want to see how the options work and what is possible try out the updated example.

[2021-06-07 17:45] #19 closed

[2021-06-07 17:46] rorystephenson commented on #15
Done! 1.0.0 is out, let me know if there are any issues :).

[2021-06-07 17:46] #15 closed

[2021-06-07 17:53] rorystephenson opened #22 "Update example gif"
The example gif is for the old example app before rotation and animations were added and the example app updated to showcase those features.

[2021-06-11 09:04] rorystephenson commented on #22
1.0.0+1 published with a new demo gif.

[2021-06-11 09:04] #22 closed

[2021-06-11 16:32] bmason8 opened #23 "Ordering of LayerWidget's can break popup functionality"
I've noticed that if you put a _PolylineLayerWidget_ or _PolygonLayerWidget_ AFTER a _PopupMarkerLayerWidget_ it breaks the popup functionality of the popup marker. Layers will still show correctly but nothing happens when you click on a marker and no error/exception is thrown so you don't know you're doing something wrong.

Sorry if this is in the documentation somewhere and it's known behaviour

[2021-06-12 14:13] rorystephenson commented on #23
Hmm interesting I have to admit I haven't tried! If it's causing you problems and you'd like to share a minimal example I'm happy to have a look.

[2021-06-21 08:46] rorystephenson commented on #23
@bmason8 I'm going to close this for now but if you or someone else continue to have issues and can provide a minimal example I'll be happy to check it out!

[2021-06-22 14:56] barbalex opened #24 "Popup does not pop up if marker returns a GestureDetector"
This may be obvious to flutter veterans but it took me quite a while to realize that this plugin did not work for me because I had given it my standard markers that returned a GestureDetector:

[code]

Instead I have to return something else:
[code]

Might be worth adding to the readme.

Thanks for this great tool. And feel free to immediately close this issue.

[2021-06-24 09:08] apoorvpandey0 opened #25 "Example not clear enough"
Can someone provide a simple minimal setup for this.

[2021-07-04 11:01] rorystephenson commented on #25
@apoorvpandey0 Good point. I've added [a simplified version](https://github.com/rorystephenson/flutter_map_marker_popup/blob/master/example/lib/simple_map_with_popups.dart) (linked in the README.md as well).

[2021-07-04 11:01] #25 closed

[2021-07-04 11:04] rorystephenson commented on #24
Hi @barbalex and thanks for the feedback! I'll add a note to the readme in case someone else runs in to this :).

[2021-07-04 11:04] #24 closed

[2021-07-28 06:52] killerm250m opened #26 "How to add button inside popup"
Hi, I want to add a button inside the popup, it showed without any problem but I click on the button nothing happens after some research I find that when I click on the button the map on tap event fired its like I am tapping on the map layer itself, not on the popup button.

[2021-07-30 09:32] rorystephenson commented on #26
Hi @killerm250m, can you provide a minimal code example that demonstrates the issue?

[2021-07-30 14:52] rorystephenson commented on #26
@killerm250m I am closing as adding a button seems to work but if I've misunderstood the request please comment and I will have another look :).

[2021-07-30 14:52] #26 closed

[2021-08-02 18:08] MihailDundukov opened #27 "Popup does not pop up"
Hello! I did my Map like in examples, but popup does not pop up
My part of code:
layers: [
                TileLayerOptions(
                  urlTemplate:
                      'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                  subdomains: ['a', 'b', 'c'],
                ),
                if (points != null)
                  PolylineLayerOptions(
                    polyli

[2021-08-03 12:01] MihailDundukov commented on #10
Hi, what did you do to fix this problem?

[2021-08-03 12:03] MihailDundukov commented on #27
@rorystephenson

[2021-08-22 12:18] berkayoruc opened #28 "Popup.mapXXX and Mapcontroller.move"
Hi guys. If popup snap on map and popup ontap runs mapcontroller.move function, after that I cannot move anywhere on map. Did you ever face this problem?

[2021-08-22 17:31] JaffaKetchup opened #29 "FLUTTER_MAP RELATIONS: New Documentation"
_This message has been sent to multiple plugin authors, so it is not personalised_

As part of https://github.com/fleaflet/flutter_map/pull/992 & https://github.com/fleaflet/flutter_map/discussions/927#discussioncomment-1135466, I (a documentation author) am contacting plugin authors to ensure the information about this plugin on the new documentation is correct; or alternatively, if this plugin i

[2021-08-24 13:23] rorystephenson commented on #28
Hi @berkayoruc, no I haven't had this problem. If you give a minimal example that demonstrates the issues I can have a look.

[2021-08-24 13:26] berkayoruc commented on #28
You can see the code [https://github.com/berkayoruc/ibbsosyaltesislerclone/blob/8307eaab8ca27adc22f4dd60e440193dd0b1d500/lib/widgets/marker_future.dart#L75](url).

[2021-08-29 13:12] #27 closed

[2021-08-31 21:43] woshitom opened #30 "How to show the popup by default?"
How can I display the popup by default when the popup is buit?

[2021-09-03 08:09] rorystephenson commented on #30
Hi @woshitom . Can you elaborate on what you mean by  "by default"? Would this mean that the popup is showing always for all markers?

[2021-09-04 18:52] woshitom commented on #30
Hi @rorystephenson yes indeed I'd like to show the popup for all markers.
Right now I'm using:

`_mapController.onReady?.then((value) {
      _popupLayerController.togglePopup(currentMakers[0]);
      _popupLayerController.togglePopup(currentMakers[1]);
  });`

But only one popup is being displayed.

[2021-09-15 14:33] rorystephenson commented on #30
@woshitom Ah OK, right now all other popups are automatically hidden when showing a popup. The internal design wouldn't need massive changes to allow multiple popups to show at the same time. I will try to get to that soon but feel free to open a PR as well if you want to give it a try.

[2021-09-23 11:10] rorystephenson commented on #30
@woshitom I've just published a new version (`2.0.0`) which now supports showing multiple popups at the same time.

You should be able to set the `PopupController`'s `initiallySelectedMarkers` to your list of markers to make them all show.

You will also probably want to check out the new `MarkerTapBehavior` option which allows you to control what happens when a marker is tapped. If you want nothi

[2021-09-23 11:10] #30 closed

[2021-09-23 20:34] woshitom commented on #30
hi @rorystephenson thank you so much! cheers

[2021-10-31 11:08] Swepilot commented on #23
@rorystephenson
I too am experiencing this now. I have been using this repo for over a year and had many both MarkerLayerOptions together with other types of layers as both LayerOptions and Widgets in FlutterMap. Never had any issues as long as I ordered them logically.

However, now having to update various components due to the LatLong/LatLong2 issue I am having serious issues with the popups in

[2021-10-31 12:45] Swepilot commented on #23
Working example

[code]

[2021-10-31 17:38] rorystephenson commented on #23
Thanks for the example code @Swepilot, I've had a look and this is caused by the fact that flutter_map doesn't allow you to put children/non-rotated children on top of layers and the lat lon grid plugin doesn't support being added as a widget. I'm going to close this here and comment on the issue you opened in the flutter_map repository since I think it belongs there.

[2021-10-31 17:38] #23 closed

[2021-11-13 21:49] fvisticot opened #31 "Popup not displayed"
using :
- flutter_map 0.14.0
- flutter_map_marker_cluster 0.4.3

in the FlutterMaps layers property:

[code]

Markers are correctly displayed but Popup is never displayed when clicking on marker.
ExamplePopup is your sample code.

Any idea ?

[2021-11-15 15:23] rorystephenson commented on #31
I can't see anything obvious. If you provide a minimal code example I can try reproduce this myself and understand what's going wrong.

It may be related to #23 which is actually a [flutter_map issue](https://github.com/fleaflet/flutter_map/issues/1072), however I can't be sure with the example code you have shared.

[2021-11-15 19:54] fvisticot commented on #31
Tx for your reply.
I have fixed my issue but I'm no more quite sure of what should be the best practice to integrate layers in flutter_map.

To make it works:
All the "layers" are placed in the FlutterMap children property

FlutterMap layers property was only used for the ZoomButtonsPluginOption (because no widget available for this)

Do we need to use layers or children or both and what is the lo

[2021-11-16 16:20] rorystephenson commented on #31
No problem @fvisticot, glad you resolved your problem 👍 .

I believe that the intention is to remove the layers method of adding plugins in favour of children, see here for more info:

https://github.com/fleaflet/flutter_map/issues/1072#issuecomment-955764071

So the plugin should be migrated to be able to be added as a child.

[2021-11-16 16:20] #31 closed

[2021-12-12 13:20] fvisticot opened #32 "Popup is not displayed over the Markers layer"
As we can see on the next picture, popup is not displayed on top of the marker layer. The yellow dots should be displayed behind the popup.

![image](https://user-images.githubusercontent.com/153679/145713813-451dc86b-dd4b-4af5-93d6-e593022b9c0c.png)

In the flutter_map children property, the popupLayerWidgets are displayed after the markerLayerWidget as bellow:

![image](https://user-images.githu

[2021-12-12 18:59] rorystephenson commented on #32
Can you give a simplified example that I can run?

At first look I'm surprised that you have so many children layers which can support popups. MarkerClusterLayerWidget supports popups and you have two PopupMarkerLayerWidgets as well. Also PopupMarkerLayerWidget actually allows you to put markers on the map so I think you probably don't need a separate MarkerLayerWidget. See an example use of Popup

[2021-12-14 06:45] fvisticot commented on #32
Tx for the reply.
1. I have removed the useless MarkerLayerWidget

I think I understand the issue:
- I have 2 consecutives PopupMarkerLayerWidget on 2 layers
- Popups of those 2 PopupMarkerLayerWidget are not displayed on the highest layers
- So markers of the last PopupMarkerLayerWidget are visible when display popup from the previous layer

It is "only" my idea, and I hope it will give you more

[2021-12-20 09:09] rorystephenson commented on #32
@fvisticot thanks for the extra information. In order to dig more I will need a runnable minimal example that demonstrates the issue.

[2021-12-21 21:56] karen1au opened #33 "show popup without tap"
Hi, I'm trying to have the popups appear on map load.
Is there a way to trigger popup to show up without tapping on marker?

Thanks!

[2021-12-22 19:09] karen1au commented on #33
update: just realize I can use marker for the "popup" instead of a popup,  I think for my use case since it's always gonna be shown instead of on tap, I should stick with the marker.

[2021-12-22 19:09] #33 closed

[2021-12-30 19:15] deezaster opened #34 "Show Popup out of the box?"
I am so excited about this package. In particular, the actual popup window has impressed me.

I would like to call the popup outside of this package. How is this possible? Specifically, it is about the package https://pub.dev/packages/flutter_map_tappable_polyline

Unfortunately, I can't get the design right with AlertDialog's customizing. Problems also with the exact positioning of the popup.

[c

[2022-01-01 10:15] magnuswikhog opened #35 "Listen for popup events?"
I just updated the plugin from an older version, and noticed that `PopupController` doesn't expose the `streamController` anymore. I found that it is still there, but moved to `PopupControllerImpl`.

So now I'm wondering, what is the proper way to listen for popup events? I need to take some action when a popup has been shown or hidden. Importing and using `PopupControllerImpl` feels like a hack (

[2022-01-03 11:32] rorystephenson commented on #34
Hi @deezaster, thanks for the interest in this plugin :).

Can you give me some more information about what is not working?

[2022-01-03 11:51] rorystephenson commented on #32
I'm going to close this for now since I can't debug further without a runnable example, I will be happy to have another look if you can provide one.

[2022-01-03 11:51] #32 closed

[2022-01-03 12:10] rorystephenson commented on #35
Hi @magnuswikhog, thanks for opening the issue.

I've had a double check and you're absolutely right, there is currently no way to listen for popup events without accessing `PopupControllerImpl` which is definitely not a good solution.

I could expose the PopupEvent stream although I'm wondering if a better solution is possible. Those events don't necessarily tell you what is happening to the popu

[2022-01-03 17:11] deezaster commented on #34
Everything works perfectly!

[code]

But I want to use the popup for the package flutter_map_tappable_polyline but don't know how.

Currently I am calling an AlertDialog (customized as MapPopupCorso, see HERE in the code). But this one is ugly and is only displayed centered. I would like to use **your popup** with exact positioning.

[code]

[2022-01-03 18:21] magnuswikhog commented on #35
Hi and thanks!

In my app I have a "follow me" mode that moves the map when the user moves so that their position is always at the center of the map. This mode can be toggled off manually. It is also toggled off automatically if the user drags the map, because otherwise the map would jump back to their current location when the next location update arrives.

I also want to toggle the "follow me" m

[2022-01-10 17:24] rorystephenson commented on #34
@deezaster Ah OK I think I understand now. So it looks like you have map markers with the working popup but you _also_ want the popups to show when you tap on the polyline. If that's right then you need to have a mapping from the polyline to the marker (either stored in a `Map` or perhaps it's possible to extend polyline to have it contain a reference to a marker) then just call `_popupLayerContro

[2022-01-11 21:39] deezaster commented on #34
Yeah, i did it! Thanks for the support and help.

[2022-01-12 11:53] rorystephenson commented on #34
Great I'm glad it works for you 🙂.

[2022-01-12 11:53] #34 closed

[2022-01-12 12:44] #35 closed

[2022-01-12 12:48] rorystephenson commented on #35
Closed automatically as I merged a commit which adds the requested behaviour. It works exactly as you suggested (providing the selectedMarkers) as I think that's the most elegant solution which is not overly specific to a single use case. Thanks for the suggestion!

Let me know if it works OK for you.

[2022-01-13 10:20] nep2099 opened #37 "The argument type 'void Function(TapPosition)' can't be assigned to the parameter type 'void Function(TapPosition, LatLng)'."
Hi, I'm getting this error as noted in the title, for `onTap: (_) => _popupLayerController.hideAllPopups()`

Any idea how I could solve this issues? Many thanks in advance.

[2022-01-26 16:30] rorystephenson commented on #37
@nep2099 Based on the error message it looks like it should be `onTap: (_, __) => _popupLayerController.hideAllPopups()`.

[2022-01-26 16:30] #37 closed

[2022-02-07 20:20] giroprotagonist commented on #3
Hello after a few days of trying to pass values to markers I finally came and found this thread. Unfortunately the example is not updated to null safety. I attempted to do this but ran into some issues with the _popupLayerController stating that "The argument type 'void Function(TapPosition)' can't be assigned to the parameter type 'void Function(TapPosition, LatLng)?'." The latlong package needed

[2022-02-11 11:53] rorystephenson commented on #3
@giroprotagonist thanks for pointing that out! It should be fixed now.

[2022-02-12 17:23] aytunch opened #38 "Can we use popups with Polygons?"
@rorystephenson Hi:)
I know when and which PolyGon a user presses by the below code
Is there a way to show popup around the tapped polygon with this plugin?

[code]

[2022-02-12 17:38] giroprotagonist commented on #3
Ah that was easy enough, thank you, very much appreciated!

[2022-02-13 14:18] rorystephenson commented on #38
Hi @aytunch .

While that's not the goal of this package you can probably achieve the affect as follows:

Have a Marker for each each polygon in the PopupMarkerLayerWidget. The marker can have zero width/height (to avoid it capturing touch events) and should have the latitude/longitude of where you want the popup to appear for the polygon (or have the popup snap to the map instead of the polygon).

[2022-02-13 14:18] #38 closed

[2022-03-04 17:00] carlodenardin opened #39 "Marker return in a previously position if another marker is pressed during an animations"
I have an issue with the animation of the markers. I setted the `MarkerCenterAnimation` but when I press a marker, if during this animation I press another marker the new marker pressed is unreachable and the map is going crazy.

This is an example:
https://imgur.com/a/RjqVud0

I setted an high duration time of the animation to mark the problem.

I didn't retrieve any error in the console.

This i

[2022-03-05 12:39] rorystephenson commented on #39
Hi @carlodenardin .

That definitely doesn't look good! I'm going to try to figure out what's going on.

[2022-03-05 15:27] #39 closed

[2022-03-05 15:29] rorystephenson commented on #39
@carlodenardin I've written a fix which is part of the new version (2.1.2). Please let me know if this is still an issue!

Thank you for a very detailed bug report and even the gif demonstrating the problem. That makes it so much easier to resolve!

[2022-03-05 16:25] carlodenardin commented on #39
@rorystephenson I update the package to the new version and now the problem has been fixed. Thanks!

[2022-04-29 02:42] pablojimpas commented on #8
afaik using PopupSnap.mapBottom places the popup below a tipical FloatingActionButton for example, will it be possible to display it above the FAB in an easy way?

[2022-05-24 06:17] shahpasandar commented on #32
Any updates? I have the same issue on the version 2.1.2. The marker's popup is behind the other markers.

[2022-05-25 22:00] rorystephenson commented on #32
As far as I know there are no bugs that cause popups to be behind markers. It is most likely an error in the way that this package is being used. Please provide a minimal example (runnable code) and I can help you out.

[2022-05-25 22:16] rorystephenson commented on #8
Hi @pablojimpas . Right now it would not be possible to show it above the FAB. For that to work you would need to use an Overlay widget rather than just adding the widget to the map as this package does. Overlays are more complicated and have to be managed carefully to avoid them staying visible when they no longer should be (e.g. when changing page). I'm not 100% against it but my gut feeling is

[2022-05-30 14:10] pablojimpas commented on #8
Okey @rorystephenson, no worries. I'll prefer to step away from the complexity and performance implications of using Overlays. Maybe a quick solution it's to just hide the FAB when a bottom popup appears using whatever state management solution the app developer wants.

[2022-05-31 04:32] rorystephenson commented on #8
Sounds like it could work. Another potential idea for you: implement a FAB map layer and put it below the popup layer.

[2022-06-02 20:47] AdamF42 opened #42 "How to update markers dynamically"
Hello,
I want to retrieve data from a service depending on the portion of the map available on the screen. The problem is that I didn't find a way to dynamically update markers in a PopupMarkerLayerOption.
Should I use the "rebuild" property? If so, do you have any usage examples?

Thank you

[2022-06-06 09:10] dionlahh opened #43 "Popups closes by itself"
Hi! I'm experiencing an issue whereby the live location updates will cause the popups to close by themselves. Any workaround on this? Thanks!

[2022-06-06 21:29] rorystephenson commented on #43
Hi @dionlahh . That shouldn't be the case, I will need a minimal runnable example to debug this (ideally a repo I can clone).

[2022-06-06 21:30] rorystephenson commented on #42
This sounds a bit out of the scope of this plugin to be quite honest. This plugin is based on the built-in flutter_map MarkerLayer code which, afaik, does not support this. I'm open to PRs if you want to have a go.

[2022-06-07 03:34] dionlahh commented on #43
Thanks for your quick response @rorystephenson, I created a repo for my code. Sorry, it is quite messy, still new to flutter and trying to learn it.
https://github.com/dionlahh/learning_flutter

Thanks!

[2022-06-07 19:06] eliabieri opened #44 "Bump flutter_map to 1.0.0"
Bump flutter_map to latest version

[2022-06-07 19:38] JaffaKetchup commented on #44
Hi @rorystephenson,
If you want to join the discord just because or you want to offer more support to users, just join using the link and ping me and I'll give you the plugin maintainer role :)
Many thanks!

[2022-06-07 22:50] pablojimpas commented on #44
I've created a PR to adopt the new plugin API, the code changes were minimal and really straightforward. Feel free to review it and release a new version, this issue is blocking https://github.com/lpongetti/flutter_map_marker_cluster/issues/119

[2022-06-08 09:29] rorystephenson commented on #44
Awesome :). I've joined and my handle is Rory#5938.

[2022-06-08 09:34] rorystephenson commented on #43
Hi @dionlahh . I've just had a quick play with the app and wasn't able to reproduce the issue. Maybe you can attach a short screen recording here of the minimal steps to cause the bug?

[2022-06-08 18:37] #44 closed

[2022-06-08 18:43] #42 closed

[2022-06-09 02:34] dionlahh commented on #43
Hi @rorystephenson, maybe try changing the value of `interval`, in line 102, to 1000. I also have recorded and uploaded the issue I'm facing.

https://youtu.be/uAbvv7c7Y8U

Thank you for your help!

[2022-06-10 16:44] rorystephenson commented on #43
Ahhh I found the problem, it was a bug in the plugin which occurred when no PopupController was specified in the options. Sorry about that! I've just published version `2.2.1` which has a fix and it seems to be working when I test locally with your app.

[2022-06-13 02:08] dionlahh commented on #43
Great, thank you so much for the help!

[2022-06-13 04:10] dionlahh commented on #43
Hi! I did some playing around with the new update, and I realise that it affects the polygon layer. The polygons drawn will not show its color as specified in the polygon.

[2022-06-16 12:10] rorystephenson commented on #43
Hmm that's quite strange. Have you tried removing the popup layer to see if it's causing the issue? I would be surprised since it's coming from a different widget/

[2022-06-27 18:47] rorystephenson commented on #8
@pablojimpas FYI with the release of v3.0.0 you can now show the popups where/how you like! Check out the 'Popup outside of map' example :).

[2022-06-27 21:59] pablojimpas commented on #8
Thanks @rorystephenson!! I'll take a look at your latest commits for that release and reconsider the way I achieve this behavior in my apps.

[2022-07-08 17:24] shaphiro opened #46 "how to pass marker "extra information" to the popup"
I would like to give a "name" to the marker and insert this name inside the popup. How can this be realized? In the examples I see only how to display the basic properties of a Marker: position, icon and size of the icon... Thank you.

[2022-07-13 07:03] #46 closed

[2022-07-14 10:12] Harishwarrior opened #47 "Can't use along flutter_map ^2.0.0"
If i try to use this plugin along with flutter map ^2.0.0. It throws the error.

[code]

Can you update the dependency flutter_map to the latest version ?.

[2022-07-14 14:20] hendrikdewilde commented on #47
Same Error for me too.

pub get

Running "flutter pub get" in .....
Because flutter_map_marker_popup 3.1.0+1 depends on flutter_map ^1.0.0 and no versions of flutter_map_marker_popup match >3.1.0+1 <4.0.0, flutter_map_marker_popup ^3.1.0+1 requires flutter_map ^1.0.0.
So, because ..... depends on both flutter_map ^2.0.0 and flutter_map_marker_popup ^3.1.0+1, version solving failed.
pub get failed

[2022-07-14 14:22] Harishwarrior commented on #47
You can try this Fork for now #48

[2022-07-14 14:37] hendrikdewilde commented on #47
Thank you

[2022-07-20 15:56] aytunch commented on #47
@Harishwarrior thanks for the fork. It was useful.
Can we merge this PR?
Because of this, we can't upgrade the clustering package as well
https://github.com/lpongetti/flutter_map_marker_cluster/issues/124

[2022-07-28 13:35] rorystephenson commented on #47
Sorry for the delay! 3.2.0 is published now with flutter_map v2 support.

[2022-07-28 13:35] #47 closed

[2022-08-07 19:35] hiroppi401 opened #52 "need help"
when popup window opened then dragging map, the popup builder triggered?
![Screenshot_2022-08-08_02-30-05](https://user-images.githubusercontent.com/48790378/183308028-9a53c605-3f9a-4af9-94b7-bb7582c0b522.png)

[2022-08-17 08:40] rdehuyss commented on #47
Thanks, @rorystephenson !!

[2022-09-02 15:38] rorystephenson commented on #52
Hi @hiroppi401 . If you extract out the builder in to a separate widget I believe this won't happen. In any case it's normal for flutter to build widgets multiple times and flutter is optimised for that.

[2022-09-02 15:38] #52 closed

[2022-10-09 13:06] dinonovak opened #53 "Popups not showing when definition is in layers: []"
Hi,

I am trying to add popups to already functioning map that is showing track.
This is how markers are added to page.
If I try to move to children: [] as widget markers are not shown on map

this is how page is rendered at the end.
`@override
  Widget build(BuildContext context) {
    return SafeArea(
      child: Scaffold(
        body: Column(
          children: <Widget>[
            Elevated

[2022-10-09 14:26] dinonovak commented on #53
Sorry,
issue with flutter_map version, all fixed

[2022-10-09 14:26] #53 closed